.button {
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: var(--rubik);
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  outline: 1px solid var(--primary);
  cursor: pointer;
  word-spacing: 5px;
  box-shadow: 0px 10px 10px var(--primary-light);
  display: flex;
  color: var(--color);
  align-items: center;
}
.button > p {
  margin-right: 10px;
}
